<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color: aquamarine;">
    <h1 style="color: blue;" >Pagina de inicio de la aplicacion calculadora</h1>
    <ul>
        <li>Link para sumar <a href="/suma?numero1=20&numero2=30">suma </a></li>
        <li>Link para la division piso <a href="/division_piso?numero1=100&numero2=50">division piso </a></li>


    </ul>




</body>
</html>